@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

* {
    font-family: 'Inter', sans-serif;
    transition: all 0.3s ease;
}

html {
    padding: 0 !important;
}

button:disabled {
    opacity: 0.5;
}

button:hover {
    opacity: 0.9;
}

a:disabled {
    opacity: 0.5;
}

a:hover {
    opacity: 0.9;
}

#nprogress .bar {
    background: #FFFFFF !important;
}
